/* Toggle */

.toggle-plugin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14px;
  left: 14px;
  height: 42px;
  width: 42px;
  cursor: pointer;
  z-index: 999;
  background-color: #eee;
  border-radius: 100%;
}

.toggle-plugin svg {
  fill: #444;
  height: 20px;
  width: 20px;
}

/* Shh...too much noise! */

@media (prefers-color-scheme: dark) {
  .asana-enhancer .Sidebar {
    background: black;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .Sidebar {
  background: black;
}

.asana-enhancer .ProjectHeaderFacepile,
.asana-enhancer .ProjectHeaderFacepile-joinOrShareButton {
  opacity: 0;
}

.asana-enhancer .ProjectSpreadsheetGridPageToolbar,
.asana-enhancer .TaskPrivacyBanner {
  display: none;
}

.asana-enhancer .TaskAncestry .Breadcrumb-divider {
  display: none;
}

.asana-enhancer .TaskAncestry {
  display: flex;
  align-items: center;
}

.asana-enhancer .TaskAncestry * {
  font-size: 12px !important;
  margin: 0 !important;
}

.asana-enhancer .TaskAncestry a::after {
  content: '>';
  margin: 0 6px;
}

.asana-enhancer .TaskAncestry .TaskAncestryBreadcrumb-navigationLink.BaseLink::after {
  display: none;
}

.asana-enhancer .BoardCardCustomPropertiesAndTags {
  display: none;
}

.asana-enhancer .Sidebar > * {
  opacity: .3;
  transition: opacity .3s;
}

.asana-enhancer .Sidebar:hover > * {
  opacity: 1;
}

/* Simpler task view */

.asana-enhancer .FullWidthPageStructureWithDetailsOverlay-detailsOverlay.FullWidthPageStructureWithDetailsOverlay-detailsOverlay--visible {
  width: calc(100% - 1px);
  max-width: none;
}

.asana-enhancer .TaskPaneFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.asana-enhancer .TaskPaneFields div:last-of-type {
  grid-column: span 2;
}

.asana-enhancer .TaskPane-premiumFeaturesSection {
  padding: 24px;
  border-radius: 12px;
  background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  .asana-enhancer .TaskPane-premiumFeaturesSection {
    background-color: #111;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .TaskPane-premiumFeaturesSection {
  background-color: #111;
}

.asana-enhancer .LabeledRowStructure-labelContainer {
  height: auto;
}

.asana-enhancer .TaskDescription.TaskDescription--alignedWithLabel {
  margin: 0;
  width: 100%;
}

.asana-enhancer .TaskStoryFeed-expandLink {
  padding: 0;
}

.asana-enhancer .TaskPaneFields .TextEditor3 {
  border: 1px solid #ddd;
}

@media (prefers-color-scheme: dark) {
  .asana-enhancer .TaskPaneFields .TextEditor3 {
    border-color: #444;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .TaskPaneFields .TextEditor3 {
  border-color: #444;
}

.asana-enhancer .TextEditor3-borderBox {
  border: none !important;
}

.asana-enhancer .TaskPaneFields .LabeledRowStructure,
.asana-enhancer .TaskPaneFields-showMoreCustomFieldsContainer,
.asana-enhancer .TaskPaneFields-loadMoreContainer {
  display: none;
}

.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-assigneeRow,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-dueDateRow,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-labeledRowStructure,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-taskDescription {
  display: block;
}

.asana-enhancer .TaskStoryFeed-miniStory,
.asana-enhancer .MiniStoriesGroup-link {
  display: none;
}

.asana-enhancer .TaskPane-feed {
  background-color: transparent;
  padding: 0 0 200px; /* Little bit of an intentional over-scroll */
  margin: 0;
  position: relative;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory {
  padding: 0;
  margin: 16px 0;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .BlockStoryStructure-icon {
  margin-right: 12px;
}

.asana-enhancer .TaskStoryFeed .TaskStoryFeed-taskCreationStory {
  margin: 0;
  padding: 16px;
  background-color: #e5f6f5;
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  .asana-enhancer .TaskStoryFeed .TaskStoryFeed-taskCreationStory {
    background-color: #404040;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .TaskStoryFeed .TaskStoryFeed-taskCreationStory {
  background-color: #404040;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .FeedBlockStory-content {
  margin: 0;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  .asana-enhancer .TaskStoryFeed .FeedBlockStory .FeedBlockStory-content {
    background-color: #303030;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .TaskStoryFeed .FeedBlockStory .FeedBlockStory-content {
  background-color: #303030;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .Typography {
  font-size: 15px;
  line-height: 24px;
  color: #434343;
}

@media (min-width: 1800px) {
  .asana-enhancer .TaskStoryFeed .FeedBlockStory .Typography {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (prefers-color-scheme: dark) {
  .asana-enhancer .TaskStoryFeed .FeedBlockStory .Typography {
    color: #f1f1f1;
  }
}
.asana-enhancer.DesignTokenThemeSelectors-theme--darkMode .TaskStoryFeed .FeedBlockStory .Typography {
  color: #f1f1f1;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .BlockStoryStructure-body {
  margin-top: 2px;
}

.asana-enhancer .TaskStoryFeed .TaskStoryFeed-activitySeparator {
  margin: 30px 0;
}
