/* Toggle */

.toggle-plugin {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14px;
  left: 14px;
  height: 42px;
  width: 42px;
  cursor: pointer;
  z-index: 999;
  background-color: #eee;
  border-radius: 100%;
}

.toggle-plugin svg {
  fill: #444;
  height: 20px;
  width: 20px;
}

/* Shh...too much noise! */

.asana-enhancer.DesignTokenThemeSelectors-theme--systemDarkMode .Sidebar {
  background: black;
}

.asana-enhancer .ProjectHeaderFacepile,
.asana-enhancer .ProjectHeaderFacepile-joinOrShareButton {
  opacity: 0;
}

.asana-enhancer .ProjectSpreadsheetGridPageToolbar {
  display: none;
}

.asana-enhancer .Sidebar > * {
  opacity: .3;
  transition: opacity .3s;
}

.asana-enhancer .Sidebar:hover > * {
  opacity: 1;
}

/* Simpler task view */

.asana-enhancer .FullWidthPageStructureWithDetailsOverlay-detailsOverlay.FullWidthPageStructureWithDetailsOverlay-detailsOverlay--visible {
  width: calc(100% - 1px);
  max-width: none;
}

.asana-enhancer .TaskPaneFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.asana-enhancer .TaskPaneFields div:last-of-type {
  grid-column: span 2;
}

.asana-enhancer .TaskPaneFields .LabeledRowStructure,
.asana-enhancer .TaskPaneFields-showMoreCustomFieldsContainer {
  display: none;
}

.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-assigneeRow,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-dueDateRow,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-labeledRowStructure,
.asana-enhancer .TaskPaneFields .LabeledRowStructure.TaskPaneFields-taskDescription {
  display: block;
}

.asana-enhancer .TaskStoryFeed-miniStory,
.asana-enhancer .MiniStoriesGroup-link {
  display: none;
}

.asana-enhancer .TaskPane-feed {
  background-color: transparent;
  padding: 0 0 200px; /* Little bit of an intentional over-scroll */
  margin: 0;
  position: relative;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory {
  padding: 0;
  margin: 16px 0;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .BlockStoryStructure-icon {
  margin-right: 12px;
}

.asana-enhancer .TaskStoryFeed .TaskStoryFeed-taskCreationStory {
  margin: 0;
  padding: 16px;
  background-color: #e5f6f5;
  border-radius: 12px;
}

.asana-enhancer.DesignTokenThemeSelectors-theme--systemDarkMode .TaskStoryFeed .TaskStoryFeed-taskCreationStory {
  background-color: #404040;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .FeedBlockStory-content {
  margin: 0;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 12px;
}

.asana-enhancer.DesignTokenThemeSelectors-theme--systemDarkMode .TaskStoryFeed .FeedBlockStory .FeedBlockStory-content {
  background-color: #303030;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .Typography {
  font-size: 16px;
  line-height: 28px;
  color: #434343;
}

.asana-enhancer.DesignTokenThemeSelectors-theme--systemDarkMode .TaskStoryFeed .FeedBlockStory .Typography {
  color: #f1f1f1;
}

.asana-enhancer .TaskStoryFeed .FeedBlockStory .BlockStoryStructure-body {
  margin-top: 2px;
}

.asana-enhancer .TaskStoryFeed .TaskStoryFeed-activitySeparator {
  margin: 30px 0;
}
